.history__container {
    display: flex;
    align-items: flex-start;
    padding: 5%;
    padding-right: 30%;
    background: #2D2D2D;
}

.history__tittle {
    color: white;
    margin: 3%;
}

.history__image {
    position: absolute;
    display: flex;
    right: 10%;
    margin: 40% 0 0 10%;
    max-width: 100%;
}